<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/pikaday-time/css/pikaday.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/spin.js/spin.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
    <link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />

    <link href="~/css/Theme.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
    <style type="text/css">
        @@font-face {
            font-family: 'BubbleBobble';
            src: url('/css/BubbleBobble.otf') format('opentype');
        }
    </style>
    <script src="https://kit.fontawesome.com/d2e68295b7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="loading-body"></div>
    <div id="loading-header"></div>
    <!-- ko if: $data.globalModel -->
    <div data-bind="with: globalModel">
        <div data-bind="with:loginModel">
            <div data-bind="if:isLoggedIn">
                <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                    <div class="container-xxl">
                        <a class="navbar-brand" href="/">Soccer</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/"><span data-bind="text:$parent.translations.home"></span></a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item">
                                    <button data-bind="click:$parent.changeLanguage.bind($data, 'pl')" class="btn btn-link">
                                        <img src="/images/pl.gif" alt="" width="30" height="20">
                                    </button>
                                    <button data-bind="click:$parent.changeLanguage.bind($data, 'en')" class="btn btn-link">
                                        <img src="/images/en.gif" alt="" width="30" height="20">
                                    </button>
                                </li>
                                <li>
                                    <a class="nav-link active" data-bind="click:logout"><span data-bind="text:$parent.translations.logout"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div style="display:none;" data-bind="style: { display: isLoggedIn() ? 'none' : 'block' }">
                <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                    <div class="container-xxl">
                        <a class="navbar-brand" href="/">Soccer</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="nav-item">
                                    <button data-bind="click:$parent.changeLanguage.bind($data, 'pl')" class="btn btn-link">
                                        <img src="/images/pl.gif" alt="" width="30" height="20">
                                    </button>
                                    <button data-bind="click:$parent.changeLanguage.bind($data, 'en')" class="btn btn-link">
                                        <img src="/images/en.gif" alt="" width="30" height="20">
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/login">
                                        <span data-bind="text:$parent.translations.login"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div data-bind="with:globalModel">
        <div style="display:none" data-bind="visible:spinner" id="custom-spinner"></div>
    </div>
    <!-- /ko -->
    <div class="container body-content">
        @RenderBody()
        <div data-bind="with:globalModel" id="cookies-id" class="d-none">
            <h4 class="text-center">
                <span data-bind="text:cookiesTranslations.line1"></span>
                <a  href="/policy">  <span data-bind="text:cookiesTranslations.line2"></span></a>
                <span data-bind="text:cookiesTranslations.line3"></span>
                <a id="cookiesOk"  class="btn btn-round-success"><span data-bind="text:cookiesTranslations.line4"></span></a>
            </h4>
        </div>
    </div>
    <footer data-bind="with:globalModel" class="bg-light navbar container-fluid">
        <p>
            &copy; @DateTime.Now.Year — Marcin J
            <a href="/terms">
                <span data-bind="text: translations.terms"></span>
            </a>
            <a href="/policy">
                <span data-bind="text: translations.policy"></span>
            </a>
        </p>
    </footer>
    <script type='module' src='~/lib/spin.js/spin.js'></script>
    <script type="module" src="~/js/helpers/spinnerWrapper.js" asp-append-version="true"></script>
    <script data-main="/js/requireConfig" src="~/lib/require.js/require.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        require(['requireConfig'], function () {
            require(['layout']);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>