@using Brilliancy.Soccer.WebApi.Translations
@{
    ViewData["Title"] = WebApiTranslations.PageController_TermsTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="section-title-wrap">
    <div class="section-title"><h3 class="section-title-h"><span data-bind="text:$root.translations.title">&nbsp;</span></h3></div>
</div>
<div class="shadow card">
    <div class="p-2">
        <span data-bind="text:$root.translations.termsDescription"></span>
        <ol>
            <li><span data-bind="text:$root.translations.terms1"></span></li>
            <li><span data-bind="text:$root.translations.terms2"></span></li>
            <li><span data-bind="text:$root.translations.terms3"></span></li>
        </ol>
    </div>
</div>
    @section Scripts {
<script type="text/javascript">
    require(['requireConfig'], function () {
        require(['/js/viewScripts/page/terms.js', 'knockout'], function (viewModel, ko) {
            ko.applyBindings(viewModel({
        }));
            });
        });
</script>
    }
