@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Brilliancy.Soccer.WebApi.Translations
@model Brilliancy.Soccer.WebApi.Models.Match.Read.MatchDetailsModel
@{
    ViewData["Title"] = WebApiTranslations.MatchController_EditTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-title-wrap">
    <div class="section-title" data-bind="with:model"><h3 class="section-title-h"><span data-bind="text:$root.translations.title"></span></h3></div>
</div>
<div class="col-lg-12">
    <div data-bind="with:model">
        <div class="overlay" style="display: none;"></div>
        <div data-bind="ifnot: $root.showModal" id="tournament-create" style="padding-top:10px;" class="row">
            <div data-bind="if:stateId() == 1">
                <div class="col-lg-12 row box">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><span data-bind="text:$root.translations.matchState"></span></label><br />
                            <span class="badge bg-success" data-bind="css:{ 'bg-success' : stateId() == 3, 'bg-warning' : stateId() != 3}, text: stateName" type="text"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div data-bind="validationElement: date" class="form-group">
                            <label><span data-bind="text:$root.translations.matchDate"></span></label>
                            <input data-bind=" pikaday: date, format: 'DD.MM.YYYY HH:mm', showTime: true"
                                   class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 row box">
                    <div class="col-md-12 col-sm-12">
                        <h5><span data-bind="text:$root.translations.availablePlayers"></span></h5>
                    </div>
                    <!-- ko foreach: availablePlayers -->
                    <div class="col-lg-6 col-md-12 row no-margin">
                        <div class="shadow card list-margin">
                            <div>
                                <table style="width:100%">
                                    <thead>
                                    </thead>
                                    <tr>
                                        <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                        <td align="right">
                                            <a href="" data-bind="click:$root.addHomePlayer" class="btn btn-round-success small-margin">
                                                <span data-bind="text:$root.translations.addHome"></span>
                                            </a>
                                            <a href="" data-bind="click:$root.addAwayPlayer" class="btn btn-round-primary small-margin">
                                                <span data-bind="text:$root.translations.addAway"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: availablePlayers().length == 0 -->
                    <div class="form-group">
                        <div class="alert alert-info" role="alert">
                            <span data-bind="text:$root.translations.noPlayers"></span>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="col-lg-12 row box">
                    <div class="col-md-6 col-sm-12">
                        <div data-bind="validationElement: homeTeamName" class="form-group">
                            <h5><span data-bind="text:$root.translations.home"></span></h5>
                            <input class="form-control" data-bind="value:homeTeamName">
                        </div>
                        <!-- ko foreach: homePlayers -->
                        <div class="col-lg-12 col-md-12 row no-margin">
                            <div class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.removeHomePlayer" class="btn btn-round-danger small-margin">
                                                    <span data-bind="text:$root.translations.remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: homePlayers().length == 0 -->
                        <div class="form-group">
                            <div class="alert alert-info" role="alert">
                                <span data-bind="text:$root.translations.noPlayers"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div data-bind="validationElement: awayTeamName" class="form-group text-center">
                            <h5><span data-bind="text:$root.translations.away"></span></h5>
                            <input class="form-control" type="text" data-bind="value:awayTeamName">
                        </div>
                        <!-- ko foreach: awayPlayers -->
                        <div class="col-lg-12 col-md-12 row no-margin">
                            <div class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.removeAwayPlayer" class="btn btn-round-danger small-margin">
                                                    <span data-bind="text:$root.translations.remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: awayPlayers().length == 0 -->
                        <div class="form-group">
                            <div class="alert alert-info" role="alert">
                                <span data-bind="text:$root.translations.noPlayers"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-lg-12 row no-margin">
                    <div class="col-lg-12 row">
                        <a href="" class="btn btn-round-primary top-distance" data-bind="click:$root.editCreating">
                            <span data-bind="text:$root.translations.saveChanges" />
                        </a>
                        <a href="" class="btn btn-round-success top-distance" data-bind="click:$root.changeState">
                            <span data-bind="text:$root.translations.confirmTeams" />
                        </a>
                    </div>
                </div>
            </div>
            <div data-bind="if:stateId() == 5 || stateId() == 2">
                <div class="col-lg-12 row">
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label><span data-bind="text:$root.translations.matchState"></span></label><br />
                                <span class="badge bg-success" data-bind="css:{ 'bg-success' : stateId() == 3, 'bg-warning' : stateId() != 3}, text: stateName" type="text"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: date" class="form-group">
                                <label><span data-bind="text:$root.translations.matchDate"></span></label>
                                <input data-bind=" pikaday: date, format: 'DD.MM.YYYY HH:mm', showTime: true"
                                       class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: homeTeamName" class="form-group text-center">
                                <h5><span data-bind="text:$root.translations.home"></span></h5>
                                <input class="form-control" data-bind="value:homeTeamName">
                            </div>
                            <!-- ko foreach: homePlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: awayTeamName" class="form-group text-center">
                                <h5><span data-bind="text:$root.translations.away"></span></h5>
                                <input class="form-control" type="text" data-bind="value:awayTeamName">
                            </div>
                            <!-- ko foreach: awayPlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: homeGoals" class="form-group">
                                <label><span data-bind="text:$root.translations.homeGoals"></span></label>
                                <input data-bind="value:homeGoals" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: awayGoals" class="form-group">
                                <label><span data-bind="text:$root.translations.awayGoals"></span></label>
                                <input data-bind="value:awayGoals" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12 text-center">
                            <a href="" class="btn btn-round-success top-distance" data-bind="click:$root.addHomeGoal">
                                <i class="fa-solid fa-circle-plus"></i> <span data-bind="text:$root.translations.addHomeGoal" />
                            </a>
                            <!-- ko foreach: homeGoalsList -->
                            <div class="col-lg-12 col-md-12 row no-margin text-start">
                                <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                    <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                                </td>
                                                <td align="right">
                                                    <a href="" data-bind="click:$root.removeHomeGoal" class="btn btn-danger small-margin">
                                                        <span data-bind="text:$root.translations.remove"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="col-md-6 col-sm-12 text-center">
                            <a href="" class="btn btn-round-success top-distance" data-bind="click:$root.addAwayGoal">
                                <i class="fa-solid fa-circle-plus"></i> <span data-bind="text:$root.translations.addAwayGoal" />
                            </a>
                            <!-- ko foreach: awayGoalsList -->
                            <div class="col-lg-12 col-md-12 row no-margin text-start">
                                <div data-bind="css:{'owngoal': isOwnGoal}"  class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                    <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                                </td>
                                                <td align="right">
                                                    <a href="" data-bind="click:$root.removeAwayGoal" class="btn btn-danger small-margin">
                                                        <span data-bind="text:$root.translations.remove"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <a href="" class="btn btn-round-success top-distance" data-bind="click:$root.editPending">
                            <i class="fa-solid fa-floppy-disk"></i> <span data-bind="text:$root.translations.saveChanges" />
                        </a>
                        <a href="" class="btn btn-round-primary top-distance" data-bind="click:$root.goCreating">
                            <i class="fa-solid fa-people-group"></i> <span data-bind="text:$root.translations.goCreating" />
                        </a>
                        <a href="" class="btn btn-round-primary top-distance" data-bind="click:$root.goLive">
                            <i class="fa-solid fa-circle-play"></i> <span data-bind="text:$root.translations.goOngoing" />
                        </a>
                        <a href="" class="btn btn-round-primary top-distance" data-bind="click:$root.goFinished">
                            <i class="fa-solid fa-flag-checkered"></i> <span data-bind="text:$root.translations.endMatch" />
                        </a>
                        <a href="" class="btn btn-round-danger top-distance" data-bind="click:$root.goCanceled">
                            <i class="fa-solid fa-ban"></i> <span data-bind="text:$root.translations.cancelMatch" />
                        </a>
                    </div>
                </div>
            </div>
            <div data-bind="if:stateId() == 3">
                <div class="col-lg-12 row">
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label><span data-bind="text:$root.translations.matchState"></span></label><br />
                                <span class="badge bg-success" data-bind="css:{ 'bg-success' : stateId() == 3, 'bg-warning' : stateId() != 3}, text: stateName" type="text"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: date" class="form-group">
                                <label><span data-bind="text:$root.translations.matchDate"></span></label>
                                <input disabled data-bind=" pikaday: date, format: 'DD.MM.YYYY HH:mm', showTime: true"
                                       class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: homeTeamName" class="form-group text-center">
                                <h5><span data-bind="text:$root.translations.home"></span></h5>
                                <input class="form-control" data-bind="value:homeTeamName">
                            </div>
                            <!-- ko foreach: homePlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: awayTeamName" class="form-group text-center">
                                <h5><span data-bind="text:$root.translations.away"></span></h5>
                                <input class="form-control" type="text" data-bind="value:awayTeamName">
                            </div>
                            <!-- ko foreach: awayPlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: homeGoals" class="form-group">
                                <label><span data-bind="text:$root.translations.homeGoals"></span></label>
                                <input disabled data-bind="value:homeGoals" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div data-bind="validationElement: awayGoals" class="form-group">
                                <label><span data-bind="text:$root.translations.awayGoals"></span></label>
                                <input disabled data-bind="value:awayGoals" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <div class="col-md-6 col-sm-12 text-center">
                            <!-- ko foreach: homeGoalsList -->
                            <div  class="col-lg-12 col-md-12 row no-margin text-start">
                                 <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                    <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div class="col-md-6 col-sm-12 text-center">
                            <!-- ko foreach: awayGoalsList -->
                            <div class="col-lg-12 col-md-12 row no-margin text-start">
                                <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td>
                                                    <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                    <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="col-lg-12 row no-margin">
                        <a href="" class="btn btn-round-danger top-distance" data-bind="click:$root.goCanceled">
                            <i class="fa-solid fa-ban"></i> <span data-bind="text:$root.translations.cancelMatch" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div>
    <div data-bind="if:$root.showModal" tabindex="-1" aria-hidden="true">
        <div class="align-content-center">
            <div class="custom-modal">
                <div class="col-lg-12 row">
                    <div class="step col-sm-4 d-sm-block d-none">
                        <h4 data-bind="css: { 'step-active': $root.newGoalStep() === 1 }" class="text-info step-active">
                            <small><span data-bind="text:$root.translations.step"></span> 1</small><br>
                            <span data-bind="text:$root.translations.goal"></span>
                        </h4>
                    </div>
                    <div class="step col-sm-4 d-sm-block d-none">
                        <h4 data-bind="css: { 'step-active': $root.newGoalStep() === 2 }" class="text-info step-active">
                            <small><span data-bind="text:$root.translations.step"></span> 2</small><br>
                            <span data-bind="text:$root.translations.assist"></span>
                        </h4>
                    </div>
                    <div class="step col-sm-4 d-sm-block d-none">
                        <h4 data-bind="css: { 'step-active': $root.newGoalStep() === 3 }" class="text-info step-active">
                            <small><span data-bind="text:$root.translations.step"></span> 3</small><br>
                            <span data-bind="text:$root.translations.time"></span>
                        </h4>
                    </div>
                </div>
            <div class="col-lg-12 row" data-bind="with:$root.newGoal">
                <div data-bind="if:$root.newGoalStep() == 1">
                    <div data-bind="if:$root.showHomeTeam">
                        <!-- ko foreach: $root.model().homePlayers -->
                        <div class="col-lg-12 col-md-12 row no-margin">
                            <div data-bind="css:{'owngoal': $root.isOwngoal()}" class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.selectScorer" class="btn btn-round-primary small-margin">
                                                    <i class="fa-solid fa-trophy"></i> <span data-bind="text:$root.translations.goal"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div data-bind="ifnot:$root.showHomeTeam">
                        <!-- ko foreach: $root.model().awayPlayers -->
                        <div class="col-lg-12 col-md-12 row no-margin">
                            <div data-bind="css:{'owngoal': $root.isOwngoal()}" class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.selectScorer" class="btn btn-round-primary small-margin">
                                                    <i class="fa-solid fa-trophy"></i> <span data-bind="text:$root.translations.goal"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div data-bind="if:$root.newGoalStep() == 2">
                    <div data-bind="if:$root.showHomeTeam">
                        <!-- ko foreach: $root.model().homePlayers -->
                        <div class="col-lg-12 col-md-12 row no-margin">
                            <div class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.selectAssist" class="btn btn-round-primary small-margin">
                                                    <i class="fa-solid fa-handshake-angle"></i> <span data-bind="text:$root.translations.assist"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div data-bind="ifnot:$root.showHomeTeam">
                        <!-- ko foreach: $root.model().awayPlayers -->
                        <div class="col-lg-12 col-md-12 row no-margin">
                            <div class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.selectAssist" class="btn btn-round-primary small-margin">
                                                    <i class="fa-solid fa-handshake-angle"></i> <span data-bind="text:$root.translations.assist"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div data-bind="if:$root.newGoalStep() == 3">
                    <div class="form-group">
                        <label><span data-bind="text:$root.translations.goal"></span></label>
                        <input disabled data-bind="value:scorerPlayerName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label><span data-bind="text:$root.translations.assist"></span></label>
                        <input disabled data-bind="value:assistPlayerName" class="form-control" />
                    </div>
                    <div data-bind="validationElement: time" class="form-group">
                        <label><span data-bind="text:$root.translations.minute"></span></label>
                        <input data-bind="value:time" class="form-control" />
                    </div>
                </div>
            </div>
                <div class="col-lg-12 row top-distance">
                    <div data-bind="if:newGoalStep() == 1">
                        <button type="button" data-bind="click: cancelNewGoal" class="btn btn-round-cancel"><span data-bind="text:$root.translations.cancel"></span></button>
                        <button type="button" data-bind="click: ownGoal" class="btn btn-round-danger"><span data-bind="text:$root.translations.ownGoal"></span></button>
                    </div>
                    <div class="col align-self-end" data-bind="if:newGoalStep() == 2">
                        <button type="button" data-bind="click: cancelNewGoal" class="btn btn-round-cancel"><span data-bind="text:$root.translations.cancel"></span></button>
                        <button type="button" data-bind="click: stepBack" class="btn btn-round-cancel"><span data-bind="text:$root.translations.goBack"></span></button>
                        <button type="button" data-bind="click: noAssist" class="btn btn-round-primary"><span data-bind="text:$root.translations.noAssist"></span></button>
                    </div>
                    <div data-bind="if:newGoalStep() == 3">
                        <button type="button" data-bind="click: cancelNewGoal" class="btn btn-round-cancel"><span data-bind="text:$root.translations.cancel"></span></button>
                        <button type="button" data-bind="click: stepBack" class="btn btn-round-cancel"><span data-bind="text:$root.translations.goBack"></span></button>
                        <button type="button" data-bind="click: saveGoal" class="btn btn-round-success"><span data-bind="text:$root.translations.saveChanges"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        require(['requireConfig'], function () {
            require(['/js/viewScripts/match/edit.js', 'knockout'], function (viewModel, ko) {
                @{var json = JsonConvert.SerializeObject(
                    Model,
                    Formatting.None,
                    new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() });
                }
                ko.applyBindings(viewModel({
                json: @Html.Raw(json)
            }));
            });
        });
    </script>
}