@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Brilliancy.Soccer.WebApi.Translations
@model Brilliancy.Soccer.WebApi.Models.Match.Read.MatchDetailsModel
@{
    ViewData["Title"] = WebApiTranslations.MatchController_EditTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div data-bind="with:model">
        <div class="overlay" style="display: none;"></div>
        <div data-bind="ifnot: $root.showModal" id="tournament-create" style="padding-top:10px;" class="row">
            <div data-bind="if:stateId() == 5">
                <div class="col-lg-12 row box">
                    <div class="text-center">
                        <input class="match-time" disabled data-bind=" pikaday: date, format: 'DD.MM.YYYY HH:mm', showTime: true" />
                    </div>
                </div>
                <div class="col-lg-12 row box">
                    <div class="col no-padding"><h3 style="text-align:right" data-bind="text:homeTeamName"></h3></div>
                    <div class="col-auto"><a href="" class="btn btn-round-success" data-bind="click:$root.goLive"> <span data-bind="text:$root.translations.goOngoing" /></a></div>
                    <div class="col no-padding"><h3 data-bind="text:awayTeamName"></h3></div>
                </div>
                <div class="col-xs-12 row box">
                    <div class="col">
                        <!-- ko foreach: homePlayers -->
                        <div class="row no-margin">
                            <div class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: homePlayers().length == 0 -->
                        <div class="form-group">
                            <div class="alert alert-info" role="alert">
                                <span data-bind="text:$root.translations.noPlayers"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col">
                        <!-- ko foreach: awayPlayers -->
                        <div class="row no-margin">
                            <div class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: awayPlayers().length == 0 -->
                        <div class="form-group">
                            <div class="alert alert-info" role="alert">
                                <span data-bind="text:$root.translations.noPlayers"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div data-bind="if:stateId() == 3">
                <div class="col-lg-12 row box">
                    <div class="col no-padding"><h3 style="text-align:right" data-bind="text:homeTeamName"></h3></div>
                    <div class="col-auto"><h3> <span data-bind="text:homeGoals"></span>:<span data-bind="text:awayGoals"></span></h3> </div>
                    <div class="col no-padding"><h3 data-bind="text:awayTeamName"></h3></div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col no-padding text-center">
                        <!-- ko foreach: homeGoalsList -->
                        <div class="row no-margin text-start">
                            <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td>
                                                <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col no-padding text-center">
                        <!-- ko foreach: awayGoalsList -->
                        <div class="row no-margin text-start">
                            <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td>
                                                <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div data-bind="if:stateId() == 2">
                <div class="col-lg-12 row box">
                    <div class="text-center">
                        <h3 class="match-time" data-bind="timer:$root.timer" />
                    </div>
                </div>
                <div class="col-lg-12 row box">
                    <div class="col no-padding"><h3 style="text-align:right" data-bind="text:homeTeamName"></h3></div>
                    <div class="col-auto"><h3> <span data-bind="text:homeGoals"></span>:<span data-bind="text:awayGoals"></span></h3> </div>
                    <div class="col no-padding"><h3 data-bind="text:awayTeamName"></h3></div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col no-padding text-center">
                        <a href="" class="btn btn-success" data-bind="click:$root.addHomeGoal">
                            <span data-bind="text:$root.translations.addHomeGoal" />
                        </a>
                        <!-- ko foreach: homeGoalsList -->
                        <div class="row no-margin text-start">
                            <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td>
                                                <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                            </td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.removeHomeGoal" class="btn btn-danger small-margin">
                                                    <span data-bind="text:$root.translations.remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div class="col no-padding text-center">
                        <a href="" class="btn btn-success" data-bind="click:$root.addAwayGoal">
                            <span data-bind="text:$root.translations.addAwayGoal" />
                        </a>
                        <!-- ko foreach: awayGoalsList -->
                        <div class="row no-margin text-start">
                            <div data-bind="css:{'owngoal': isOwnGoal}" class="shadow card list-margin">
                                <div>
                                    <table style="width:100%">
                                        <thead>
                                        </thead>
                                        <tr>
                                            <td>
                                                <span data-bind="text: time() + '\' ' + scorerPlayerName()"></span>
                                                <span data-bind="if:assistId"><small data-bind="text:' (' + assistPlayerName() + ')'"></small></span>
                                            </td>
                                            <td align="right">
                                                <a href="" data-bind="click:$root.removeAwayGoal" class="btn btn-danger small-margin">
                                                    <span data-bind="text:$root.translations.remove"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col-md-6 col-sm-12">

                    </div>
                    <div class="col-md-6 col-sm-12">

                    </div>
                </div>
                <div class="col-lg-12 row no-margin">
                    <a href="" class="btn btn-round-primary top-distance" data-bind="click:$root.goFinished">
                        <i class="fa-solid fa-flag-checkered"></i> <span data-bind="text:$root.translations.endMatch" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div>
    <div data-bind="if:$root.showModal" tabindex="-1" aria-hidden="true">
        <div class="align-content-center">
            <div class="custom-modal">
                <div class="col-lg-12 row">
                    <div class="step col">
                        <h4 data-bind="css: { 'step-active': $root.newGoalStep() === 1 }" class="text-info step-active">
                            <small><span data-bind="text:$root.translations.step"></span> 1</small><br>
                            <span data-bind="text:$root.translations.goal"></span>
                        </h4>
                    </div>
                    <div class="step col">
                        <h4 data-bind="css: { 'step-active': $root.newGoalStep() === 2 }" class="text-info step-active">
                            <small><span data-bind="text:$root.translations.step"></span> 2</small><br>
                            <span data-bind="text:$root.translations.assist"></span>
                        </h4>
                    </div>
                    <div class="step col">
                        <h4 data-bind="css: { 'step-active': $root.newGoalStep() === 3 }" class="text-info step-active">
                            <small><span data-bind="text:$root.translations.step"></span> 3</small><br>
                            <span data-bind="text:$root.translations.time"></span>
                        </h4>
                    </div>
                </div>
                <div class="col-lg-12 row" data-bind="with:$root.newGoal">
                    <div data-bind="if:$root.newGoalStep() == 1">
                        <div data-bind="if:$root.showHomeTeam">
                            <!-- ko foreach: $root.model().homePlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div data-bind="css:{'owngoal': $root.isOwngoal()}" class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                                <td align="right">
                                                    <a href="" data-bind="click:$root.selectScorer" class="btn btn-round-primary small-margin">
                                                        <i class="fa-solid fa-trophy"></i> <span data-bind="text:$root.translations.goal"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div data-bind="ifnot:$root.showHomeTeam">
                            <!-- ko foreach: $root.model().awayPlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div data-bind="css:{'owngoal': $root.isOwngoal()}" class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                                <td align="right">
                                                    <a href="" data-bind="click:$root.selectScorer" class="btn btn-round-primary small-margin">
                                                        <i class="fa-solid fa-trophy"></i> <span data-bind="text:$root.translations.goal"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div data-bind="if:$root.newGoalStep() == 2">
                        <div data-bind="if:$root.showHomeTeam">
                            <!-- ko foreach: $root.model().homePlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                                <td align="right">
                                                    <a href="" data-bind="click:$root.selectAssist" class="btn btn-round-primary small-margin">
                                                        <i class="fa-solid fa-handshake-angle"></i> <span data-bind="text:$root.translations.assist"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <div data-bind="ifnot:$root.showHomeTeam">
                            <!-- ko foreach: $root.model().awayPlayers -->
                            <div class="col-lg-12 col-md-12 row no-margin">
                                <div class="shadow card list-margin">
                                    <div>
                                        <table style="width:100%">
                                            <thead>
                                            </thead>
                                            <tr>
                                                <td><span data-bind="text: (firstName() ?? '') + ' ' +  (nickName() ?? '') + ' ' + (lastName() ?? '')"></span></td>
                                                <td align="right">
                                                    <a href="" data-bind="click:$root.selectAssist" class="btn btn-round-primary small-margin">
                                                        <i class="fa-solid fa-handshake-angle"></i> <span data-bind="text:$root.translations.assist"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div data-bind="if:$root.newGoalStep() == 3">
                        <div class="form-group">
                            <label><span data-bind="text:$root.translations.goal"></span></label>
                            <input disabled data-bind="value:scorerPlayerName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label><span data-bind="text:$root.translations.assist"></span></label>
                            <input disabled data-bind="value:assistPlayerName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 row">
                    <div data-bind="if:newGoalStep() == 1">
                        <button type="button" data-bind="click: cancelNewGoal" class="btn btn-round-cancel">cancel</button>
                        <button type="button" data-bind="click: ownGoal" class="btn btn-round-danger">Own goal</button>
                    </div>
                    <div class="col align-self-end" data-bind="if:newGoalStep() == 2">
                        <button type="button" data-bind="click: cancelNewGoal" class="btn btn-round-cancel">cancel</button>
                        <button type="button" data-bind="click: stepBack" class="btn btn-round-cancel">go back</button>
                        <button type="button" data-bind="click: noAssist" class="btn btn-round-primary">No assist</button>
                    </div>
                    <div data-bind="if:newGoalStep() == 3">
                        <button type="button" data-bind="click: cancelNewGoal" class="btn btn-round-cancel">cancel</button>
                        <button type="button" data-bind="click: stepBack" class="btn btn-round-cancel">go back</button>
                        <button type="button" data-bind="click: saveGoal" class="btn btn-round-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        require(['requireConfig'], function () {
            require(['/js/viewScripts/match/liveEdit.js', 'knockout'], function (viewModel, ko) {
                @{var json = JsonConvert.SerializeObject(
                    Model,
                    Formatting.None,
                    new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() });
                }
                ko.applyBindings(viewModel({
                json: @Html.Raw(json)
            }));
            });
        });
    </script>
}