@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using Brilliancy.Soccer.WebApi.Translations
@{
    ViewData["Title"] = WebApiTranslations.TournamentController_LostPasswordTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-title-wrap">
    <div class="section-title"><h3 class="section-title-h"><span data-bind="text:$root.translations.lostPasswordTitle">&nbsp;</span></h3></div>
</div>
<div class="shadow card login-body">
    <div class="col-lg-12">
        <div>
            <div class="overlay" style="display: none;"></div>
            <div id="lost-password" style="padding-top:10px;" class="row">
                <div class="col-lg-12 row no-margin">
                    <div data-bind="validationElement: email" class="form-group">
                        <label><span data-bind="text:$root.translations.lostPassword"></span></label>
                        <input id="email" type="text" class="form-control" data-bind="value:email, disable: globalModel.isBusy()">
                    </div>
                </div>
                <div class="col-lg-12 row no-margin">
                    <div class="row no-margin">
                        <a href="" class="btn btn-round-success" data-bind="click:$root.send">
                            <span data-bind="text:$root.translations.sendEmail"></span>
                        </a>
                        <a href="/login" class="btn btn-round-cancel">
                            <span data-bind="text:$root.translations.goBack"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        require(['requireConfig'], function () {
            require(['/js/viewScripts/login/lostPassword.js', 'knockout'], function (viewModel, ko) {
                ko.applyBindings(viewModel({
                    json: ""
                }));
            });
        });
    </script>
}
