@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

@section Scripts {
    <script type="text/javascript">
        require(['requireConfig'], function () {
            require(['/js/viewScripts/login/test.js', 'knockout'], function (viewModel, ko) {
                ko.applyBindings(viewModel());
            });
        });
    </script>
}
