.img-preview{
    max-height:152px;
}

.image-preview {
    text-align:center;
}

.custom-modal {
    max-width: 500px;
    margin: 0 auto;
}

.match-time {
    width: 100%;
    border: none;
    text-align: center;
    background: none;
    font-size: 25px;
}

.width100{
    width:100%;
}

.step {
    text-align:center;
}

.text-center{
    text-align:center;
}

.step-active{
    font-weight:bold;
    font-style:italic;
}

.login-panel {
    padding-top: 20px;
}

.login-body {
    padding: 10px;
    margin: 0px auto;
    max-width: 500px;
}

.no-padding {
    padding-left: 0px;
    padding-right: 0px;
}


.no-margin{
    margin-left:0px;
    margin-right:0px;
}

.small-margin {
    margin-left: 2px;
    margin-right: 2px;
}

.list-margin {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
}

.validationElement {
    color: #b10000;
}

.validationElement > input {
    border-color: #b10000;
}

#cookies-id {
    width: 100%;
    background: #b12525;
    position: absolute;
    top: 0;
    left: 0;
}

#custom-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: dimgray;
    opacity: 0.8;
    z-index:2;
}