body {
    min-height: 100vh;
}

.body-content {
    min-height: calc(100vh - 56px);
}

.navbar {
    font-weight: 700;
    color: white;
}

#loading-header {
    background-color: rgba(var(--bs-light-rgb),1);
    width: 100%;
    height: 56px;
    z-index: 5;
    position: fixed;
    animation-name: loading-header-animation;
    animation-duration: 1.5s;
}

#loading-body {
    background-color: rgba(255,255,255,1);
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 5;
    position: fixed;
    animation-name: loading-body-animation;
    animation-duration: 1.5s;
    margin-top:70px;
}

@keyframes loading-body-animation {
    from {
        background-color: rgba(255,255,255,1);
    }

    to {
        background-color: rgba(255,255,255,0);
    }
}

@keyframes loading-header-animation {
    from {
        background-color: rgba(var(--bs-light-rgb),1);
    }

    to {
        background-color: rgba(var(--bs-light-rgb),0);
    }
}

.navbar-brand {
    font-family: 'BubbleBobble';
    font-size: 47px;
    font-weight: 200;
    max-height: 40px;
    margin-top: -42px;
}

.btn-success {
    background-color: #146011;
    border-color: #146011;
}

.btn-round-success {
    background-color: #146011;
    border-color: #146011;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(255,255,255);
}

.container-fluid {
    max-width: 1350px;
}

.btn-link {
    padding-left: 3px;
    padding-right: 3px;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #146011;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #146011;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #146011;
    --bs-dark: #212529;
    --bs-primary-rgb: 13,110,253;
    --bs-secondary-rgb: 108,117,125;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 20, 96, 17;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 33,37,41;
    --bs-body-bg-rgb: 255,255,255;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}
