@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model Brilliancy.Soccer.WebApi.Models.Read.Tournament.EditTournamentModel
@{
    ViewData["Title"] = "Utwórz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-title-wrap">
    <div class="section-title" data-bind="with:model"><h3 class="section-title-h">Edycja turnieju</h3></div>
</div>
<div class="col-lg-12">
    <div data-bind="with:model">
        <div class="overlay" style="display: none;"></div>
        <div id="tournament-create" style="padding-top:10px;" class="row">
            <div class="col-lg-12 row box">
                <div class="col-md-6 col-sm-12">
                    <div data-bind="validationElement: name" class="form-group">
                        <label>Nazwa turnieju</label>
                        <input class="form-control" data-bind="value:name">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div data-bind="validationElement: address" class="form-group">
                        <label>Miejsce rozgrywania turnieju</label>
                        <input class="form-control" type="text" data-bind="value:address">
                    </div>
                </div>
                @*<div class="col-md-12 col-sm-12">
                        <div data-bind="validationElement: photoId" class="form-group">
                            <label>Plakat turnieju</label>
                            <div data-bind="with: $root.tournamentPhoto">
                                <div class="form-control" data-bind="dropzone: { init: initFunc, url: filesRequestUrl, maxFilesize: 4294967295, dictDefaultMessage: 'Upuść tu plik, aby go przesłać.' }, object: dropzone" id="file-avatar"></div>
                            </div>
                        </div>
                    </div>*@
            <div class="col-lg-12 row">
                <h5>Zawodnicy</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody data-bind="foreach: players">
                            <tr data-bind="" class="clickable-row">
                                <td><input class="form-control" data-bind="value:firstName"></td>
                                <td><input class="form-control" data-bind="value:nickName"></td>
                                <td><input class="form-control" data-bind="value:lastName"></td>
                                <td class="last-column">
                                    <a href="" data-bind="click:$root.removePlayer"
                                       class="btn btn-round btn-round-danger">
                                        <i class="fa fa-remove"></i> Usuń
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a href="" class="btn btn-info" data-bind="click:$root.addPlayer">
                    <i class="fa fa-plus-circle"></i> Dodaj gracza
                </a>
                <a href="" class="btn btn-info" data-bind="click:$root.editPlayers">
                    <i class="fa fa-plus-circle"></i> Zapisz zmiany
                </a>
            </div>
                <div class="col-lg-12 row">
                    <a href="" class="btn btn-success" data-bind="click:$root.editTournament">
                        <i class="fa fa-plus-circle"></i> Edytuj turniej
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        require(['requireConfig'], function () {
            require(['/js/viewScripts/tournament/edit.js', 'knockout'], function (viewModel, ko) {
                @{var json = JsonConvert.SerializeObject(
                    Model,
                    Formatting.None,
                    new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() });
                }
                ko.applyBindings(viewModel({
                json: @Html.Raw(json)
            }));
            });
        });
    </script>
}